body {
    background: #f8f9fa;
}

input, textarea {
    border-radius: 8px !important;
}

section {
    margin-bottom: 2rem;
}

h5 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}
form input,
form textarea {
    margin-left: auto;
    margin-right: auto;
}